.ion-color-background {
    --ion-color-base: #f04141;
  }
  .ion-color-background1{
    --ion-color-base: #d33939;
  }
  .ion-color-background2{
      --ion-color-base: #989aa2;
  }
  .ion-color-button{
      --ion-color-base: #86888f;
  }
  .ion-color-icon{
    --ion-color-base: #f4f5f8 ;
  }