.ion-color-background {
    --ion-color-base: #f04141;
  }
.ion-color-background1{
    --ion-color-base: #d33939;
  }
.ion-color-button{
    --ion-color-base: #cc2e00;
}
.ion-color-text{
  --ion-color-base: #222428;
}