<ion-header color = "background1">
  <ion-toolbar color = "background">
    <ion-title>Spazio Pizzaria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding ><br><br>

  <ion-list>
      <ion-list-header>
        <ion-label color="text">
            <h5><ion-icon name = "pizza" color = "text"></ion-icon>Spazio Pizzaria </h5>
          </ion-label>
        
      </ion-list-header>
      <ion-button color = "button" expand = "full" href = "/pagina1"> Realizar novo pedido</ion-button>
        
    </ion-list>
  

</ion-content>
