<ion-header color ="background1" >
  <ion-toolbar color ="background">
    <ion-title>
      <ion-icon name="pizza"></ion-icon> 
      Spazio Pizzaria
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color = "background2">  
<br><br><br><br><br>

<ion-button color = "button" expand = "full" href = "/pagina1" shape = "round">Ver Cardápio</ion-button>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
 <ion-fab-button color = "background1">
  <ion-icon  name="add"></ion-icon>
 </ion-fab-button>
 
<ion-fab-list side="top">
 <ion-fab-button color = "whatsapp"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
</ion-fab-list>

<ion-fab-list side="end">
 <ion-fab-button color = "instagram" href = "https://www.instagram.com/matfrnc/"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
</ion-fab-list> 
</ion-fab>

</ion-content>
