
  .ion-color-background {
    --ion-color-base: #f04141;
  }
  .ion-color-background1{
    --ion-color-base: #d33939;
  }
  .ion-color-background2{
      --ion-color-base: #989aa2;
  }
  .ion-color-button{
      --ion-color-base: #656c6d;
  }
.ion-color-whatsapp{
  --ion-color-base: #10dc60 ;
}
.ion-color-instagram{
  --ion-color-base: #ef43c5;
}